body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #fff1cc, #ffe4c4);
  font-family: 'Segoe UI', sans-serif;
  color: #444;
  text-align: center;
}

.container { padding: 30px; 
max-width: 900px;
            margin: 40px auto;
            border: 10px solid #e8c7a1;
            border-radius: 25px;
            background: rgba(255,255,255,0.6);
           }


.intro { font-size: 18px; margin-bottom: 30px; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background: rgba(255,255,255,0.9);
  padding: 15px;
  border-radius: 15px;
  width: 260px;
  color: #333;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.countdown-box {
  margin-top: 40px;
  padding: 20px;
  background: rgba(255,255,255,0.85);
  border-radius: 20px;
  color: #333;
}

#countdown {
  font-size: 20px;
  margin: 15px 0;
  font-weight: bold;
}


button {
  margin-top: 30px;
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  background: white;
  color: #ff4b6e;
  cursor: pointer;
}

.hidden {
  display: none;
  margin-top: 25px;
  font-size: 18px;
}

/* ❤️ HEART ANIMATION */
@keyframes floatUp {
  from { transform: translateY(0); opacity: 1; }
  to { transform: translateY(-100vh); opacity: 0; }
}
